body {
  background-color: rgba(60, 60, 60, 1);
}

a {
  color: #beeeff;
}

.buttons {
  margin-bottom: 10px;
}

button {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.active {
  background-color: rgba(8, 240, 9, 0.7)
}

* { box-sizing: border-box; }

html, body {
  margin: 0;
  background-color: #eee;
  padding: 20px;
  display: flex;
  justify-content: left;
}

main {
  display: grid;
  grid-template-rows: repeat(19, 1fr);
  grid-template-columns: repeat(25, 1fr);
  width: 70vw;
  grid-template-areas: "titles duration"
    "walk walk-l" "walk walk-d" "walk walk-u"
    "dt dt-l" "dt dt-d";
}

.project-title {
  padding: 0 20px;
}
.month, .project-title {
  text-align: center;
  border: 1px solid black;
  width: 100%;
}

.april {
  grid-column: 2 / 6;
}
.may {
  grid-column: 6 / 10;
}
.june {
  grid-column: 10 / 14;
}
.july {
  grid-column: 14 / 18;
}
.august {
  grid-column: 18 / 22;
}
.september {
  grid-column: 22 / 26;
}

.project-name-walk {
  grid-area: walk;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.project-name-dt {
  grid-area: dt;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
}

[class*="capacity"] {
  grid-column-start: 2;
  grid-column-end: -1;
}

[class*="capacity-lead"] {
  background-color: rgba(23, 124, 23, 0.644);
}

[class*="capacity-discussion"] {
  background-color: rgba(59, 112, 224, 0.644);;
}

[class*="capacity-updated"] {
  background-color: rgba(255, 255, 0, 0.644);
}

/* ----------------------------------- */

[class*="capacity-lead-walk"] {
  grid-row: 2 / 3;
}

[class*="capacity-discussion-walk"] {
  grid-row: 3 / 4;
}

[class*="capacity-updated-walk"] {
  grid-row: 4 / 5;
}

.capacity-lead-walk-1 {
  grid-column: 2/16;
}

.capacity-lead-walk-2 {
  grid-column: 20/26;
}

.capacity-discussion-walk-1 {
  grid-column: 2/15;
}

.capacity-discussion-walk-2 {
  grid-column: 16/-1;
}

.capacity-discussion-walk-3 {
  grid-column: 20/26;
}

.capacity-discussion-walk-4 { 
  grid-column: 2/15;
}

.capacity-discussion-walk-5 { 
  grid-column: 15/16;
}

.capacity-updated-walk-1 { 
  grid-column: 2/10;
}

.capacity-updated-walk-2 { 
  grid-column: 15/-1;
}

.capacity-updated-walk-3 {
  grid-column: 10/15;
  border: 1px dotted black;
  background-color: transparent;
}

/* -------------------------------- */

[class*="capacity-lead-dt"] {
  grid-row: 5/6;
}

[class*="capacity-discussion-dt"] {
  grid-row: 6/7;
}

.capacity-lead-dt-1 { 
  grid-column: 2/10;
}

.capacity-lead-dt-2 { 
  grid-column: 16/-1;
}

.capacity-lead-dt-3 { 
  grid-column: 2/15;
}

.capacity-lead-dt-4 { 
  grid-column: 20/26;
}

.capacity-lead-dt-5 {
  grid-column: 15/16;
  background-color: #318931;
}

.capacity-discussion-dt-2 { 
  grid-column: 2/14;
}

.capacity-discussion-dt-3 { 
  grid-column: 16/-1;
}

.capacity-discussion-dt-4 { 
  grid-column: 2/14;
}

.capacity-discussion-dt-5 { 
  grid-column: 20/-1;
}

.capacity-discussion-dt-6 { 
  grid-column: 15/16;
  background-color: #4376e0;
}

.status {
  margin-left: 20px;
}

td {
  border: 1px solid black;
}